*.o

/hello
/labels
/registers
/kernel_calls
/jumping
/compare
/conditional
/math
/mathematics
/float
/floating_point
/stack
/runtime_string
/subroutines
/indexed_stack

/examples/c-calls-assembly/c_calls_assembly
/examples/assembly-calls-c/assembly_calls_c
/examples/sum-ten/sum_ten
/examples/make-three/make_three
